<!-- pop over -->
<h3>Pop over</h3>
<p>
	<span id="subject1">Mouse Over on details</span>
	(<a id="link1"
		(mouseenter)="togglePopover()"
		(mouseleave)="togglePopover()">details</a>)
</p>
<dx-popover
	target="#link1" 
	position="top"
	[width]="300"
	[(visible)]="visible">
	<div *dxTemplate="let data = model of 'content'">
		<p>Popover Content</p>
	</div>
</dx-popover>
<br />

<!-- popup -->
<h3>Popup</h3>
<br />
<dx-text-box placeholder="Type a text here..."  [(value)]="textValue"></dx-text-box>
<br />
<div>{{textValue}}</div>
<br />
<dx-button
    class="button-info"
    text="Popup"
    (onClick)="showText()">
</dx-button>
<app-popup [popupVisible] = "popupVisible" [textValue] = "textValue" (myOutput)="onChangeText($event)"></app-popup>




<br />

<!-- tabs -->
<h3>Tabs</h3>

<dx-tab-panel 
    [items]="tabs" 
    [dataSource]="tabs"
    [selectedIndex]="0">
    <div *dxTemplate="let tab of 'title'; let i = index">
        <div *ngIf="tab.text === 'Tab 1'">
            <div>{{tab.text}}</div>
            <!-- <div>{{tab.content}}</div> -->
        </div>
        <div *ngIf="tab.text === 'Tab 2'">
            <div>{{tab.text}}</div>
            <!-- <div>{{tab.content}}</div> -->
        </div>
        <div *ngIf="tab.text === 'Tab 3'">
            <div>{{tab.text}}</div>
            <!-- <div>{{tab.content}}</div> -->
        </div>
    </div>
    <div *dxTemplate="let item of 'item'">
        <div>{{item.content}}</div>
      </div>
</dx-tab-panel>



<!-- <div id="tabs">
        <dx-tabs
            [dataSource]="tabs"
            [selectedIndex]="0"
            (onItemClick)="selectTab($event)"
        ></dx-tabs>
        <div class="content dx-fieldset">
            <div class="dx-field">
                    {{ tabContent }}
            </div>
        </div>
    </div> -->